.signUp {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
    font-family: 'Comfortaa', cursive !important;
  }
  .mat-form-field {
    display: contents;
    width: 360px;
  }

  .material-icons{
    margin: 50px auto;
  }

  .form {
    width: 560px;
  }